:root {
    --primaryfont-bold: 'Graph-ai_Puvi_Bold';
    --primaryfont-semibold: 'Graph-ai_Puvi_SemiBold';
    --primaryfont-regular: 'Graph-ai_Puvi_Regular';
    --secondaryfont-bold: 'Graph-ai_Puvi_Bold';
    --secondaryfont-semibold: 'Graph-ai_Puvi_SemiBold';
    --secondaryfont-regular: 'Graph-ai_Puvi_Regular';
    --gp-ai-secondary-thin: 'Graph-ai_Puvi_Thin';
    --gp-ai-secondary-thinitalic: 'Graph-ai_Puvi_ThinItalic';
    --gp-ai-secondary-extralight: 'Graph-ai_Puvi_ExtraLight';
    --gp-ai-secondary-light: 'Graph-ai_Puvi_Light';
    --gp-ai-secondary-lightitalic: 'Graph-ai_Puvi_LightItalic';
    --gp-ai-secondary-regular: 'Graph-ai_Puvi_Regular';
    --gp-ai-secondary-regularitalic: 'Graph-ai_Puvi_RegularItalic';
    --gp-ai-secondary-medium: 'Graph-ai_Puvi_Medium';
    --gp-ai-secondary-semibold: 'Graph-ai_Puvi_SemiBold';
    --gp-ai-secondary-semibolditalic: 'Graph-ai_Puvi_SemiBoldItalic';
    --gp-ai-secondary-bold: 'Graph-ai_Puvi_Bold';
    --gp-ai-secondary-bolditalic: 'Graph-ai_Puvi_BoldItalic';
    --gp-ai-secondary-extrabold: 'Graph-ai_Puvi_ExtraBold';
    --gp-ai-secondary-extrabolditalic: 'Graph-ai_Puvi_ExtraBoldItalic';
    --gp-ai-secondary-black: 'Graph-ai_Puvi_Black';
    --gp-ai-secondary-blackitalic: 'Graph-ai_Puvi_BlackItalic';
    --gp-ai-secondary-extrablack: 'Graph-ai_Puvi_ExtraBlack';
    --gp-ai-primary-thin: 'Graph-ai_Puvi_Thin';
    --gp-ai-primary-thinitalic: 'Graph-ai_Puvi_ThinItalic';
    --gp-ai-primary-extralight: 'Graph-ai_Puvi_ExtraLight';
    --gp-ai-primary-light: 'Graph-ai_Puvi_Light';
    --gp-ai-primary-lightitalic: 'Graph-ai_Puvi_LightItalic';
    --gp-ai-primary-regular: 'Graph-ai_Puvi_Regular';
    --gp-ai-primary-regularitalic: 'Graph-ai_Puvi_RegularItalic';
    --gp-ai-primary-medium: 'Graph-ai_Puvi_Medium';
    --gp-ai-primary-semibold: 'Graph-ai_Puvi_SemiBold';
    --gp-ai-primary-semibolditalic: 'Graph-ai_Puvi_SemiBoldItalic';
    --gp-ai-primary-bold: 'Graph-ai_Puvi_Bold';
    --gp-ai-primary-bolditalic: 'Graph-ai_Puvi_BoldItalic';
    --gp-ai-primary-extrabold: 'Graph-ai_Puvi_ExtraBold';
    --gp-ai-primary-extrabolditalic: 'Graph-ai_Puvi_ExtraBoldItalic';
    --gp-ai-primary-black: 'Graph-ai_Puvi_Black';
    --gp-ai-primary-blackitalic: 'Graph-ai_Puvi_BlackItalic';
    --gp-ai-primary-extrablack: 'Graph-ai_Puvi_ExtraBlack';
    --gp-ai-splfontserif-bold: 'robotoslabbold';
    --gp-ai-splfontserif-thin: 'robotoslabthin';
    --gp-ai-splfontserif-regular: 'robotoslabregular';
    --gp-ai-splfontserif-light: 'robotoslablight';
    --gp-ai-splfont-cursive-one-regular: 'Binturong_Regular';
    --gp-ai-splfont-cursive-two-regular: 'Bellaboo_Regular';
    --body-font-clr: #000;
    --primary-anchor-clr: #03a9f5;
    --primary-btn-bg: #f0483e;
    --primary-btn-clr: #fff;
    --zsh-place-fontcolor: #878787;
    --gp-ai-logo: url(assets/images/zoho-logo.svg);
    --gp-ai-logo-web: url(assets/images/zoho-logo-web.svg);
    --gp-ai-logo-white: url(assets/images/zoho-logo-white.svg);
    --gp-ai-logo-darkbg: url(assets/images/zoho-logo-darkbg.svg);
    --mobile-app-icons: url(assets/images/mobile-apps.png);
    --common-elements: url(assets/images/common-elements.svg);
    --country-flags: url(assets/images/country-flags.png);
    --product-icons-png: url(assets/images/product-icons.png);
    --compliance-badges: url(assets/images/compliance-badges.png);
    --product-icons: url(assets/images/product-icons.svg);
    --graph-ai-i-w: 40px;
    --graph-ai-i-h: 40px;
    --graph-ai-i-bs: 800px auto;
    --uset-position: 2000px 2000px;
    --graph-ai-analytics: url(//www.graph-ai.com/sites/zweb/images/productlogos/analytics.svg);
    --graph-ai-apptics: url(//www.graph-ai.com/sites/zweb/images/productlogos/apptics.svg);
    --graph-ai-assist: url(//www.graph-ai.com/sites/zweb/images/productlogos/assist.svg);
    --graph-ai-backstage: url(//www.graph-ai.com/sites/zweb/images/productlogos/backstage.svg);
    --graph-ai-backtowork: url(//www.graph-ai.com/sites/zweb/images/productlogos/backtowork.svg);
    --graph-ai-bookings: url(//www.graph-ai.com/sites/zweb/images/productlogos/bookings.svg);
    --graph-ai-books: url(//www.graph-ai.com/sites/zweb/images/productlogos/books.svg);
    --graph-ai-bugtracker: url(//www.graph-ai.com/sites/zweb/images/productlogos/bugtracker.svg);
    --graph-ai-calendar: url(//www.graph-ai.com/sites/zweb/images/productlogos/calendar.svg);
    --graph-ai-campaigns: url(//www.graph-ai.com/sites/zweb/images/productlogos/campaigns.svg);
    --graph-ai-catalyst: url(//www.graph-ai.com/sites/zweb/images/productlogos/catalyst.svg);
    --graph-ai-checkout: url(//www.graph-ai.com/sites/zweb/images/productlogos/checkout.svg);
    --graph-ai-cliq: url(//www.graph-ai.com/sites/zweb/images/productlogos/cliq.svg);
    --graph-ai-commerce: url(//www.graph-ai.com/sites/zweb/images/productlogos/commerce.svg);
    --graph-ai-connect: url(//www.graph-ai.com/sites/zweb/images/productlogos/connect.svg);
    --graph-ai-contracts: url(//www.graph-ai.com/sites/zweb/images/productlogos/contracts.svg);
    --graph-ai-creator: url(//www.graph-ai.com/sites/zweb/images/productlogos/creator.svg);
    --graph-ai-creatorplus: url(//www.graph-ai.com/sites/zweb/images/productlogos/creatorplus.svg);
    --graph-ai-crm: url(//www.graph-ai.com/sites/zweb/images/productlogos/crm.svg);
    --graph-ai-crmplus: url(//www.graph-ai.com/sites/zweb/images/productlogos/crmplus.svg);
    --graph-ai-dashboards: url(//www.graph-ai.com/sites/zweb/images/productlogos/dashboards.svg);
    --graph-ai-dataprep: url(//www.graph-ai.com/sites/zweb/images/productlogos/dataprep.svg);
    --graph-ai-deluge: url(//www.graph-ai.com/sites/zweb/images/productlogos/deluge.svg);
    --graph-ai-desk: url(//www.graph-ai.com/sites/zweb/images/productlogos/desk.svg);
    --graph-ai-directory: url(//www.graph-ai.com/sites/zweb/images/productlogos/directory.svg);
    --graph-ai-domains: url(//www.graph-ai.com/sites/zweb/images/productlogos/domains.svg);
    --graph-ai-expense: url(//www.graph-ai.com/sites/zweb/images/productlogos/expense.svg);
    --graph-ai-financeplus: url(//www.graph-ai.com/sites/zweb/images/productlogos/financeplus.svg);
    --graph-ai-flow: url(//www.graph-ai.com/sites/zweb/images/productlogos/flow.svg);
    --graph-ai-forms: url(//www.graph-ai.com/sites/zweb/images/productlogos/forms.svg);
    --graph-ai-fsm: url(//www.graph-ai.com/sites/zweb/images/productlogos/fsm.svg);
    --graph-ai-hacksaw: url(//www.graph-ai.com/sites/zweb/images/productlogos/hacksaw.svg);
    --graph-ai-inventory: url(//www.graph-ai.com/sites/zweb/images/productlogos/inventory.svg);
    --graph-ai-invoice: url(//www.graph-ai.com/sites/zweb/images/productlogos/invoice.svg);
    --graph-ai-itmanagement: url(//www.graph-ai.com/sites/zweb/images/productlogos/it-management.svg);
    --graph-ai-jeeves: url(//www.graph-ai.com/sites/zweb/images/productlogos/jeeves.svg);
    --graph-ai-landingpage: url(//www.graph-ai.com/sites/zweb/images/productlogos/landingpage.svg);
    --graph-ai-learn: url(//www.graph-ai.com/sites/zweb/images/productlogos/learn.svg);
    --graph-ai-lens: url(//www.graph-ai.com/sites/zweb/images/productlogos/lens.svg);
    --graph-ai-logs: url(//www.graph-ai.com/sites/zweb/images/productlogos/logs.svg);
    --graph-ai-mail: url(//www.graph-ai.com/sites/zweb/images/productlogos/mail.svg);
    --graph-ai-mail360: url(//www.graph-ai.com/sites/zweb/images/productlogos/mail360.svg);
    --graph-ai-marketingautomation: url(//www.graph-ai.com/sites/zweb/images/productlogos/marketingautomation.svg);
    --graph-ai-marketingplus: url(//www.graph-ai.com/sites/zweb/images/productlogos/marketingplus.svg);
    --graph-ai-marketplace: url(//www.graph-ai.com/sites/zweb/images/productlogos/marketplace.svg);
    --graph-ai-meeting: url(//www.graph-ai.com/sites/zweb/images/productlogos/meeting.svg);
    --graph-ai-motivator: url(//www.graph-ai.com/sites/zweb/images/productlogos/motivator.svg);
    --graph-ai-notebook: url(//www.graph-ai.com/sites/zweb/images/productlogos/notebook.svg);
    --graph-ai-officesuite: url(//www.graph-ai.com/sites/zweb/images/productlogos/officesuite.svg);
    --graph-ai-one: url(//www.graph-ai.com/sites/zweb/images/productlogos/one.svg);
    --graph-ai-pagesense: url(//www.graph-ai.com/sites/zweb/images/productlogos/pagesense.svg);
    --graph-ai-payments: url(//www.graph-ai.com/sites/zweb/images/productlogos/payments.svg);
    --graph-ai-payroll: url(//www.graph-ai.com/sites/zweb/images/productlogos/payroll.svg);
    --graph-ai-people: url(//www.graph-ai.com/sites/zweb/images/productlogos/people.svg);
    --graph-ai-peopleplus: url(//www.graph-ai.com/sites/zweb/images/productlogos/peopleplus.svg);
    --graph-ai-phonebridge: url(//www.graph-ai.com/sites/zweb/images/productlogos/phonebridge.svg);
    --graph-ai-qengine: url(//www.graph-ai.com/sites/zweb/images/productlogos/qengine.svg);
    --graph-ai-projects: url(//www.graph-ai.com/sites/zweb/images/productlogos/projects.svg);
    --graph-ai-publish: url(//www.graph-ai.com/sites/zweb/images/productlogos/publish.svg);
    --graph-ai-recruit: url(//www.graph-ai.com/sites/zweb/images/productlogos/recruit.svg);
    --graph-ai-remotely: url(//www.graph-ai.com/sites/zweb/images/productlogos/remotely.svg);
    --graph-ai-researchstudio: url(//www.graph-ai.com/sites/zweb/images/productlogos/researchstudio.svg);
    --graph-ai-routeiq: url(//www.graph-ai.com/sites/zweb/images/productlogos/routeiq.svg);
    --graph-ai-salesiq: url(//www.graph-ai.com/sites/zweb/images/productlogos/salesiq.svg);
    --graph-ai-sheet: url(//www.graph-ai.com/sites/zweb/images/productlogos/sheet.svg);
    --graph-ai-shifts: url(//www.graph-ai.com/sites/zweb/images/productlogos/shifts.svg);
    --graph-ai-show: url(//www.graph-ai.com/sites/zweb/images/productlogos/show.svg);
    --graph-ai-showtime: url(//www.graph-ai.com/sites/zweb/images/productlogos/showtime.svg);
    --graph-ai-sigma: url(//www.graph-ai.com/sites/zweb/images/productlogos/sigma.svg);
    --graph-ai-sign: url(//www.graph-ai.com/sites/zweb/images/productlogos/sign.svg);
    --graph-ai-sites: url(//www.graph-ai.com/sites/zweb/images/productlogos/sites.svg);
    --graph-ai-social: url(//www.graph-ai.com/sites/zweb/images/productlogos/social.svg);
    --graph-ai-spark: url(//www.graph-ai.com/sites/zweb/images/productlogos/spark.svg);
    --graph-ai-sprints: url(//www.graph-ai.com/sites/zweb/images/productlogos/sprints.svg);
    --graph-ai-subscriptions: url(//www.graph-ai.com/sites/zweb/images/productlogos/billing.svg);
    --graph-ai-survey: url(//www.graph-ai.com/sites/zweb/images/productlogos/survey.svg);
    --graph-ai-tables: url(//www.graph-ai.com/sites/zweb/images/productlogos/tables.svg);
    --graph-ai-teaminbox: url(//www.graph-ai.com/sites/zweb/images/productlogos/teaminbox.svg);
    --graph-ai-thrive: url(//www.graph-ai.com/sites/zweb/images/productlogos/thrive.svg);
    --graph-ai-todo: url(//www.graph-ai.com/sites/zweb/images/productlogos/todo.svg);
    --graph-ai-toolkit: url(//www.graph-ai.com/sites/zweb/images/productlogos/toolkit.svg);
    --graph-ai-vault: url(//www.graph-ai.com/sites/zweb/images/productlogos/vault.svg);
    --graph-ai-voice: url(//www.graph-ai.com/sites/zweb/images/productlogos/voice.svg);
    --graph-ai-webinar: url(//www.graph-ai.com/sites/zweb/images/productlogos/webinar.svg);
    --graph-ai-workdrive: url(//www.graph-ai.com/sites/zweb/images/productlogos/workdrive.svg);
    --graph-ai-workerly: url(//www.graph-ai.com/sites/zweb/images/productlogos/workerly.svg);
    --graph-ai-workplace: url(//www.graph-ai.com/sites/zweb/images/productlogos/workplace.svg);
    --graph-ai-writer: url(//www.graph-ai.com/sites/zweb/images/productlogos/writer.svg);
    --graph-ai-zeptomail: url(//www.graph-ai.com/sites/zweb/images/productlogos/zeptomail.svg);
    --graph-ai-zia: url(//www.graph-ai.com/sites/zweb/images/productlogos/zia.svg);
    --graph-ai-ziasearch: url(//www.graph-ai.com/sites/zweb/images/productlogos/ziasearch.svg);
    --graph-ai-zillum: url(//www.graph-ai.com/sites/zweb/images/productlogos/zillum.svg);
    --graph-ai-zohobigin: url(//www.graph-ai.com/sites/zweb/images/productlogos/zohobigin.svg);
    --graph-ai-analytics-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/analytics-dark.svg);
    --graph-ai-apptics-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/apptics-dark.svg);
    --graph-ai-assist-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/assist-dark.svg);
    --graph-ai-backstage-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/backstage-dark.svg);
    --graph-ai-backtowork-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/backtowork-dark.svg);
    --graph-ai-bookings-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/bookings-dark.svg);
    --graph-ai-books-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/books-dark.svg);
    --graph-ai-bugtracker-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/bugtracker-dark.svg);
    --graph-ai-calendar-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/calendar-dark.svg);
    --graph-ai-campaigns-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/campaigns-dark.svg);
    --graph-ai-catalyst-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/catalyst-dark.svg);
    --graph-ai-checkout-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/checkout-dark.svg);
    --graph-ai-cliq-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/cliq-dark.svg);
    --graph-ai-commerce-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/commerce-dark.svg);
    --graph-ai-connect-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/connect-dark.svg);
    --graph-ai-contracts-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/contracts-dark.svg);
    --graph-ai-creator-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/creator-dark.svg);
    --graph-ai-creatorplus-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/creatorplus-dark.svg);
    --graph-ai-crm-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/crm-dark.svg);
    --graph-ai-crmplus-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/crmplus-dark.svg);
    --graph-ai-dashboards-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/dashboards-dark.svg);
    --graph-ai-dataprep-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/dataprep-dark.svg);
    --graph-ai-deluge-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/deluge-dark.svg);
    --graph-ai-desk-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/desk-dark.svg);
    --graph-ai-directory-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/directory-dark.svg);
    --graph-ai-domains-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/domains-dark.svg);
    --graph-ai-expense-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/expense-dark.svg);
    --graph-ai-financeplus-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/financeplus-dark.svg);
    --graph-ai-flow-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/flow-dark.svg);
    --graph-ai-forms-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/forms-dark.svg);
    --graph-ai-fsm-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/fsm-dark.svg);
    --graph-ai-hacksaw-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/hacksaw-dark.svg);
    --graph-ai-inventory-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/inventory-dark.svg);
    --graph-ai-invoice-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/invoice-dark.svg);
    --graph-ai-itmanagement-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/it-management-dark.svg);
    --graph-ai-jeeves-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/jeeves-dark.svg);
    --graph-ai-landingpage-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/landingpage-dark.svg);
    --graph-ai-learn-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/learn-dark.svg);
    --graph-ai-lens-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/lens-dark.svg);
    --graph-ai-logs-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/logs-dark.svg);
    --graph-ai-mail-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/mail-dark.svg);
    --graph-ai-mail360-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/mail360-dark.svg);
    --graph-ai-marketingautomation-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/marketingautomation-dark.svg);
    --graph-ai-marketingplus-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/marketingplus-dark.svg);
    --graph-ai-marketplace-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/marketplace-dark.svg);
    --graph-ai-meeting-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/meeting-dark.svg);
    --graph-ai-motivator-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/motivator-dark.svg);
    --graph-ai-notebook-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/notebook-dark.svg);
    --graph-ai-officesuite-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/officesuite-dark.svg);
    --graph-ai-one-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/one-dark.svg);
    --graph-ai-pagesense-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/pagesense-dark.svg);
    --graph-ai-payments-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/payments-dark.svg);
    --graph-ai-payroll-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/payroll-dark.svg);
    --graph-ai-people-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/people-dark.svg);
    --graph-ai-peopleplus-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/peopleplus-dark.svg);
    --graph-ai-phonebridge-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/phonebridge-dark.svg);
    --graph-ai-qengine-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/qengine-dark.svg);
    --graph-ai-projects-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/projects-dark.svg);
    --graph-ai-publish-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/publish-dark.svg);
    --graph-ai-recruit-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/recruit-dark.svg);
    --graph-ai-remotely-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/remotely-dark.svg);
    --graph-ai-researchstudio-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/researchstudio-dark.svg);
    --graph-ai-routeiq-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/routeiq-dark.svg);
    --graph-ai-salesiq-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/salesiq-dark.svg);
    --graph-ai-sheet-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/sheet-dark.svg);
    --graph-ai-shifts-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/shifts-dark.svg);
    --graph-ai-show-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/show-dark.svg);
    --graph-ai-showtime-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/showtime-dark.svg);
    --graph-ai-sigma-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/sigma-dark.svg);
    --graph-ai-sign-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/sign-dark.svg);
    --graph-ai-sites-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/sites-dark.svg);
    --graph-ai-social-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/social-dark.svg);
    --graph-ai-spark-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/spark-dark.svg);
    --graph-ai-sprints-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/sprints-dark.svg);
    --graph-ai-subscriptions-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/billing-dark.svg);
    --graph-ai-survey-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/survey-dark.svg);
    --graph-ai-tables-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/tables-dark.svg);
    --graph-ai-teaminbox-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/teaminbox-dark.svg);
    --graph-ai-thrive-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/thrive-dark.svg);
    --graph-ai-todo-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/todo-dark.svg);
    --graph-ai-toolkit-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/toolkit-dark.svg);
    --graph-ai-vault-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/vault-dark.svg);
    --graph-ai-voice-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/voice-dark.svg);
    --graph-ai-webinar-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/webinar-dark.svg);
    --graph-ai-workdrive-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/workdrive-dark.svg);
    --graph-ai-workerly-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/workerly-dark.svg);
    --graph-ai-workplace-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/workplace-dark.svg);
    --graph-ai-writer-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/writer-dark.svg);
    --graph-ai-zeptomail-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/zeptomail-dark.svg);
    --graph-ai-zia-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/zia-dark.svg);
    --graph-ai-ziasearch-dark: url(assets/images/ziasearch-dark.svg);
    --graph-ai-zillum-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/zillum-dark.svg);
    --graph-ai-zohobigin-dark: url(//www.graph-ai.com/sites/zweb/images/productlogos/zohobigin-dark.svg);
    --graph-ai-mail-bp: -360px -40px;
    --graph-ai-crm-bp: -320px 0;
    --graph-ai-desk-bp: -680px 0;
    --graph-ai-salesiq-bp: -360px 0;
    --graph-ai-bigin-bp: -440px -80px;
    --graph-ai-social-bp: -480px 0;
    --graph-ai-campaigns-bp: -440px 0;
    --graph-ai-forms-bp: -560px 0;
    --graph-ai-sites-bp: -600px 0;
    --graph-ai-pagesense-bp: -136px 0;
    --graph-ai-backstage-bp: -520px 0;
    --graph-ai-meeting-bp: -760px 0;
    --graph-ai-assist-bp: -720px 0;
    --graph-ai-books-bp: 0 -40px;
    --graph-ai-invoice-bp: -120px -80px;
    --graph-ai-expense-bp: -160px -40px;
    --graph-ai-inventory-bp: -40px -40px;
    --graph-ai-subscriptions-bp: -120px -40px;
    --graph-ai-billing-bp: -120px -40px;
    --graph-ai-checkout-bp: -200px -40px;
    --graph-ai-payroll-bp: -240px -80px;
    --graph-ai-motivator-bp: -400px 0;
    --graph-ai-people-bp: -280px -40px;
    --graph-ai-recruit-bp: -240px -40px;
    --graph-ai-connect-bp: -62px 0;
    --graph-ai-workerly-bp: -200px -80px;
    --graph-ai-creator-bp: -720px -40px;
    --graph-ai-flow-bp: -760px -40px;
    --graph-ai-vault-bp: -680px -40px;
    --graph-ai-bugtracker-bp: -600px -40px;
    --graph-ai-analytics-bp: -160px -80px;
    --graph-ai-writer-bp: -40px -80px;
    --graph-ai-sheet-bp: -560px -80px;
    --graph-ai-show-bp: -400px -40px;
    --graph-ai-notebook-bp: -480px -40px;
    --graph-ai-showtime-bp: -440px -40px;
    --graph-ai-backtowork-bp: -680px -80px;
    --graph-ai-shifts-bp: -80px -80px;
    --graph-ai-projects-bp: -520px -40px;
    --graph-ai-sprints-bp: -560px -40px;
    --graph-ai-orchestly-bp: -80px -40px;
    --graph-ai-cliq-bp: -640px -40px;
    --graph-ai-sign-bp: -640px 0;
    --graph-ai-officeintegrator-bp: -600px -120px;
    --graph-ai-workdrive-bp: 0 -80px;
    --graph-ai-commerce-bp: -280px -80px;
    --graph-ai-landingpage-bp: -320px -120px;
    --graph-ai-bookings-bp: -320px -80px;
    --graph-ai-marketinghub-bp: -360px -80px;
    --graph-ai-marketingautomation-bp: -360px -80px;
    --graph-ai-catalyst-bp: -400px -80px;
    --graph-ai-lens-bp: -480px -80px;
    --graph-ai-endpointcentral-bp: -640px -120px;
    --graph-ai-zeptomail-bp: -760px -80px;
    --graph-ai-calendar-bp: -200px -120px;
    --graph-ai-voice-bp: -280px -120px;
    --graph-ai-embeddedbi-bp: -240px -120px;
    --graph-ai-contracts-bp: -600px -80px;
    --graph-ai-dataprep-bp: -120px -120px;
    --graph-ai-learn-bp: 0 -120px;
    --graph-ai-teaminbox-bp: -720px -80px;
    --graph-ai-officesuite-bp: -320px -40px;
    --graph-ai-zillum-bp: -40px -160px;
    --graph-ai-tasks-bp: -80px -160px;
    --graph-ai-one-bp: -160px 0;
    --graph-ai-fplus-bp: -80px 0;
    --graph-ai-pplus-bp: -280px 0;
    --graph-ai-crmplus-bp: 0 auto;
    --graph-ai-workplace-bp: -40px 0;
    --graph-ai-mplus-bp: -240px 0;
    --graph-ai-deluge-bp: -720px -120px;
    --graph-ai-spark-bp: -760px -120px;
    --graph-ai-ziasearch-bp: -680px -120px;
    --graph-ai-toolkit-bp: -80px -120px;
    --graph-ai-oneauth-bp: 0 -160px;
    --graph-ai-qntrl-bp: -160px -120px;
    --graph-ai-survey-bp: -160px -160px;
    --graph-ai-connect-bp: -120px -160px;
    --graph-ai-pagesense-bp: -240px -160px;
    --graph-ai-remotely-bp: -520px -80px;
    --graph-ai-zia-bp: -640px -80px;
    --graph-ai-assist-bp: -720px 0;
    --graph-ai-thrive-bp: -280px -160px;
    --graph-ai-routeiq-bp: -320px -160px;
    --graph-ai-directory-bp: -360px -160px;
    --graph-ai-apptics-bp: -400px -160px;
    --graph-ai-webinar-bp: -480px -160px;
    --graph-ai-remoteaccessplus-bp: -520px -160px;
    --graph-ai-qengine-bp: -560px -160px;
    --graph-ai-sigma-bp: -600px -160px;
    --graph-ai-tables-bp: -720px -160px;
    --graph-ai-fsm-bp: 0 -200px;
    --graph-ai-solo-bp: -80px -200px;
    --graph-ai-publish-bp: -120px -200px;
    --graph-ai-campfire-bp: -200px -200px;
    --graph-ai-mail360-bp: -40px -120px;
    --graph-ai-practice-bp: -240px -200px;
    --graph-ai-identity360-bp: -280px -200px;
}

:host, :root {
    --rem: 16;
}